<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-primary">
          <h5><i class="fa fa-list"></i> Leave Balance List</h5>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Leave Type</th>
                <th>Total Days</th>
                <th>Avail Days</th>
                <th>Remmaining</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of leaveBalanceList; let i = index;">
                <td>{{ item.leave_title }} ({{ item.leave_short_code }})</td>
                <td>{{ item.total_days }}</td>
                <td>{{ item.availed_days ? item.availed_days : '-' }}</td>
                <td>{{ item.remaining_days ? item.remaining_days : '-' }}</td>
              </tr>
              <tr *ngIf="leaveBalanceList.length <= 0">
                <td colspan="5">No Leave Balance added</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
            {{ leaveBalanceList.length }} Rows
        </div>
      </div>
    </div>
</div>
<block-ui></block-ui>
