<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-primary">
          <h5><i class="fa fa-list"></i> Leave Information</h5>
          <button class="btn btn-square btn-dark btn-sm btn-sm-custom float-right" (click)="backTo()"><i class="fa fa-arrow-circle-o-left"></i> Back</button>
          <!--<button class="btn btn-square btn-success btn-sm btn-sm-custom float-right" (click)="addCompanyModal.show()"><i class="fa fa-plus"></i> Add New Category</button>-->
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-lg-6">
                    <div class="card border-top-info border-top-3 mb-3">
                        <div class="card-header card-title"><strong>Employee Information</strong></div>
                        <div class="card-body text-dark">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h5 class="text-center mb-2"><i class="fa fa-user"></i> Personal Details</h5>
                                    <img src="{{ profile_image }}" class="image-div mb-2" alt="">

                                </div>
                                <div class="col-sm-8 table-responsive">
                                    <table class="table table-bordered" *ngIf="is_loaded">
                                        <tr>
                                            <th>Applicant's Name</th>
                                            <th>{{ leaveDetails.employee.name }}</th>
                                        </tr>
                                        <tr>
                                            <td>Designation</td>
                                            <td>{{ leaveDetails.employee.designation }}</td>
                                        </tr>
                                        <tr>
                                            <td>Department</td>
                                            <td>{{ leaveDetails.employee.department }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>{{ leaveDetails.employee.email }}</td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td>{{ leaveDetails.employee.mobile }}</td>
                                        </tr>
                                        <tr>
                                            <td>Joining Date</td>
                                            <td>{{ leaveDetails.employee.joining_date | date:'fullDate' }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-12 mt-3">
                                    <button type="button" *ngIf="is_approval_permit" class="btn btn-success approve-button mb-1">Approve</button>
                                    <button type="button" *ngIf="is_approval_permit" class="btn btn-danger reject-button mb-1">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card border-top-primary border-top-3 mb-3" *ngIf="is_loaded">
                        <div class="card-header"><strong>Leave Information</strong>
                            <button type="button"  *ngIf="leaveDetails.leave.leave_status == 'Pending'" class="btn btn-warning btn-sm float-right"><strong>{{ leaveDetails.leave.leave_status }}</strong></button>
                            <button type="button"  *ngIf="leaveDetails.leave.leave_status == 'Approved'" class="btn btn-success btn-sm float-right"><strong>{{ leaveDetails.leave.leave_status }}</strong></button>
                            <button type="button"  *ngIf="leaveDetails.leave.leave_status == 'Rejected'" class="btn btn-danger btn-sm float-right"><strong>{{ leaveDetails.leave.leave_status }}</strong></button>
                        </div>
                        <div class="card-body text-primary">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>Leave Type</td>
                                            <td><strong>{{ leaveDetails.leave.leave_title }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Start Date</td>
                                            <td><strong>{{ leaveDetails.leave.start_date | date:'dd/MM/y' }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td>End Date</td>
                                            <td><strong>{{ leaveDetails.leave.end_date | date:'dd/MM/y' }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Applied For</td>
                                            <td><strong>{{ leaveDetails.leave.total_applied_days }} Days</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Is Half Day</td>
                                            <td>
                                                <span *ngIf="leaveDetails.leave.is_half_day" class="status bg-success">Yes  ({{ leaveDetails.leave.half_day }})</span>
                                                <span *ngIf="!leaveDetails.leave.is_half_day" class="status bg-danger">No</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Reason</td>
                                            <td><strong>{{ leaveDetails.leave.leave_reason }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Applied Date</td>
                                            <td><strong>{{ leaveDetails.leave.created_at | date: 'medium' }}</strong></td>
                                        </tr>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card border-top-primary border-top-3 mb-3">
                        <div class="card-header bg-primary card-title"><strong>Leave Status</strong></div>
                        <div class="card-body text-dark">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-bordered" *ngIf="is_loaded">
                                        <thead>
                                            <tr>
                                                <th>Authority</th>
                                                <th>Approval Status</th>
                                                <th>Step</th>
                                                <th>Step Flag</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of leaveDetails.leave_flow; let i = index;">
                                                <td>{{ item.authority_name }}</td>
                                                <td>
                                                    <span *ngIf="item.approval_status == 'Pending'" class="status bg-warning">{{ item.approval_status }}</span>
                                                    <span *ngIf="item.approval_status == 'Approved'" class="status bg-success">{{ item.approval_status }}</span>
                                                    <span *ngIf="item.approval_status == 'Rejected'" class="status bg-danger">{{ item.approval_status }}</span>
                                                </td>
                                                <td>{{ item.step ? item.step : '-' }}</td>
                                                <td>
                                                    <span *ngIf="item.step_flag == 'Active'" class="status bg-primary">{{ item.step_flag }}</span>
                                                    <span *ngIf="item.step_flag == 'Completed'" class="status bg-success">{{ item.step_flag }}</span>
                                                    <span *ngIf="item.step_flag == 'Pending'" class="status bg-warning">{{ item.step_flag }}</span>
                                                </td>
                                                <td>{{ item.updated_at | date:'fullDate' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-top-primary border-top-3 mb-3">
                        <div class="card-header bg-primary card-title"><strong>Leave Balance</strong></div>
                        <div class="card-body text-dark">
                            <div class="row">
                                <div class="col-sm-12 table-responsive" *ngIf="is_loaded">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Leave Type</th>
                                                <th>Total Days</th>
                                                <th>Avail Days</th>
                                                <th>Remmaining</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of leaveDetails.leave_balances; let i = index;">
                                                <td>{{ item.leave_title }} ({{ item.leave_short_code }})</td>
                                                <td>{{ item.total_days }}</td>
                                                <td>{{ item.availed_days ? item.availed_days : '-' }}</td>
                                                <td>{{ item.remaining_days ? item.remaining_days : '-' }}</td>
                                            </tr>
                                            <tr *ngIf="leaveDetails.leave_balances.length <= 0">
                                                <td colspan="5">No Leave Balance added</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <!--{{ companyList.length }} Rows -->
        </div>
      </div>
    </div>
</div>
<block-ui></block-ui>

<div bsModal #addCompanyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" (click)="modalHide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form [formGroup]="entryForm" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Company Name</label>
                <div class="col-md-9">
                    <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="text-input" name="text-input" class="form-control" placeholder="Company Name">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <span *ngIf="f.name.errors.required" class="text-danger"> Name is required</span>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea-input">Address</label>
                <div class="col-md-9">
                    <textarea id="textarea-input" formControlName="address"  [ngClass]="{ 'is-invalid': submitted && f.address.errors }" name="textarea-input" rows="3" class="form-control" placeholder="Address.."></textarea>
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                      <span *ngIf="f.address.errors.required" class="text-danger"> Name is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="contact_no">Contact No</label>
                <div class="col-md-9">
                    <input type="text" formControlName="contact_no" [ngClass]="{ 'is-invalid': submitted && f.contact_no.errors }" id="contact_no" class="form-control" placeholder="Contact No">
                    <div *ngIf="submitted && f.contact_no.errors" class="invalid-feedback">
                      <span *ngIf="f.contact_no.errors.required" class="text-danger"> Contact No is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="company_email">Company Email</label>
                <div class="col-md-9">
                    <input type="text" formControlName="company_email" [ngClass]="{ 'is-invalid': submitted && f.company_email.errors }" id="company_email" class="form-control" placeholder="Company Email">
                    <div *ngIf="submitted && f.company_email.errors" class="invalid-feedback">
                      <span *ngIf="f.company_email.errors.required" class="text-danger"> Company Email is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="hr_email">HR Email</label>
                <div class="col-md-9">
                    <input type="text" formControlName="hr_email" [ngClass]="{ 'is-invalid': submitted && f.hr_email.errors }" id="hr_email" class="form-control" placeholder="HR Email">
                    <div *ngIf="submitted && f.hr_email.errors" class="invalid-feedback">
                      <span *ngIf="f.hr_email.errors.required" class="text-danger"> HR Email is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="leave_email">Leave Email</label>
                <div class="col-md-9">
                    <input type="text" formControlName="leave_email" [ngClass]="{ 'is-invalid': submitted && f.leave_email.errors }" id="leave_email" class="form-control" placeholder="Leave Email">
                    <div *ngIf="submitted && f.leave_email.errors" class="invalid-feedback">
                      <span *ngIf="f.leave_email.errors.required" class="text-danger"> Leave Email is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="employee_code_length">Employee Code Length</label>
                <div class="col-md-9">
                    <input type="text" formControlName="employee_code_length" [ngClass]="{ 'is-invalid': submitted && f.employee_code_length.errors }" id="employee_code_length" class="form-control" placeholder="Employee Code Length">
                    <div *ngIf="submitted && f.employee_code_length.errors" class="invalid-feedback">
                      <span *ngIf="f.employee_code_length.errors.required" class="text-danger"> Employee Code Length is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="company_prefix">Company Prefix</label>
                <div class="col-md-9">
                    <input type="text" formControlName="company_prefix" [ngClass]="{ 'is-invalid': submitted && f.company_prefix.errors }" id="company_prefix" class="form-control" placeholder="Company Prefix">
                    <div *ngIf="submitted && f.company_prefix.errors" class="invalid-feedback">
                      <span *ngIf="f.company_prefix.errors.required" class="text-danger"> Company Prefix is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="leave_email">Logo</label>
                <div class="col-md-9">
                    <input type="file" formControlName="company_logo" (change)="onSelectFile($event)" placeholder="Upload file" accept="image/x-png,image/jpeg" placeholder="Select file"/>
                </div>
            </div>
            
            <!--<div class="form-group row">
                <label class="col-md-3 col-form-label">Is Active</label>
                <div class="col-md-9 col-form-label">
                    <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" formControlName="is_active" type="checkbox" id="is_active">
                        <label class="form-check-label" for="is_active">Active</label>
                    </div>
                </div>
            </div>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalHide()">Close</button>
        <button type="button" class="btn btn-info" (click)="onFormSubmit()">{{ btnSaveText }}</button>
      </div>
    </div>
  </div>
</div>